# Prisma Database Connection String
# Vervang "user", "password", "localhost", "5432" en "fajaede_psa" door jouw eigen database gegevens.
DATABASE_URL="postgresql://user:password@localhost:5432/fajaede_psa?schema=public"

# Mollie API Key (Test of Live)
MOLLIE_API_KEY="test_..."